.tracking-detail__container {
    margin: 20px 0;
}

.order-tracking__customer {
    line-height: 2.4rem;
}

.order-tracking__container {
    max-width: 600px;
}

.order-tracking__total {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Các đoạn code CSS cho máy tính màn hình nhỏ ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 992px nhỏ hơn 1200 */
@media screen and (max-width: 1200px) {}

/* Các đoạn code CSS cho máy tính bảng ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 768px và nhỏ hơn 992px */
@media screen and (max-width: 992px) {
    .order-tracking__container {
        max-width: auto;
    }
}

/* Các đoạn code CSS cho điện thoại ở đây */
/* Độ rộng màn hình nhỏ hơn hoặc bằng 767px */
@media screen and (max-width: 768px) {}