.footer-payment__list {
    display: flex;
    flex-wrap: wrap;
}

.footer-payment__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    padding: 5px;
    min-width: 100px;
    justify-content: center;
    border-radius: 3px;
}

.footer-payment__item:not(:first-child) {
    margin-left: 2rem;
}

.footer-payment__item img {
    height: 100%;
}


/* Các đoạn code CSS cho máy tính màn hình nhỏ ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 992px nhỏ hơn 1200 */
@media screen and (max-width: 1200px) {}

/* Các đoạn code CSS cho máy tính bảng ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 768px và nhỏ hơn 992px */
@media screen and (max-width: 992px) {}

/* Các đoạn code CSS cho điện thoại ở đây */
/* Độ rộng màn hình nhỏ hơn hoặc bằng 767px */
@media screen and (max-width: 768px) {

    .footer-payment__list {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}

