@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #233a95;
    --color-secondary: #2bbef9;
    --size-border-radius: 7px;
    --size-form-radius: 4px;
    --font-primary: 'Noto Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-size: 1.5rem;
    /* Color Root */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff4d4f;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /* component color */
    --color-text: #202435;
    --color-border: #e3e4e6;
    /* breakpoint */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 2rem;
    text-rendering: optimizeSpeed;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Common CSS */

a {
    color: var(--color-text);
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Custom Ant Design */
.ant-menu-item-danger:hover.ant-menu-item-danger:after {
    border-bottom-color: var(--red) !important;
}

/* Responsive */
@media screen and (min-width: 750px) {
    .container {
        padding: 0 16rem;
    }
}