.signup-form {
    transition: all 0.35s;
}

.ant-form-item-label {
    flex: 0 0 37.33333333333333% !important;
    max-width: 37.33333333333333%;
}

@media only screen and (max-width: 768px) {
    .account-container .ant-tabs {
        width: 100%;
    }
}