.login-form {
    transition: all 0.35s;
}

.login-form-forgot {
    text-decoration: none;
    color: #1677ff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 14px;
    font-family: '-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    box-sizing: border-box;
    border: none;
}

.login-form__other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.login-form__other:after {
    content: "";
    position: absolute;
    height: 0.3px;
    width: 30px;
    background-color: var(--color-border);
    top: 50%;
    right: 20%;
}

.login-form__other:before {
    content: "";
    position: absolute;
    height: 0.3px;
    width: 30px;
    background-color: var(--color-border);
    top: 50%;
    left: 20%;
}

.google-button {
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 3px;
    white-space: nowrap;
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    border: 1.4px solid var(--color-border);
}

.google-button:focus,
.google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.02);
}

.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}

.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 20px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.google-button__icon--plus {
    width: 27px;
}

.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 300;
}
