.my-account__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.my-account__basic {
    flex: 2;
}

.my-account__detailed--showed {
    margin-bottom: 20px
}

.my-account__basic .ant-card-cover {
    height: 200px;
}

.my-account__basic .ant-card-cover img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.my-account__rank {
    width: 100%;
    text-align: center;
}

.my-account__rank img {
    width: 90px;
}

.my-account__password {
    flex: 1;
}

.my-account__cancel {
    margin-left: 10px;
}

.my-account__section .my-account__title {
    margin-left: 10px;
}

.my-account__illustration {
    width: 80%;
    margin-bottom: 40px;
}

.my-account__illustration img {
    width: 60%;
}

.my-account__fullname {
    display: flex;
    align-items: center;
    margin: 0;
}

.verified-icon {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.verified-icon img {
    width: 100%;
    object-fit: cover;
}

/* Các đoạn code CSS cho máy tính màn hình nhỏ ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 992px nhỏ hơn 1200 */
@media screen and (max-width: 1200px) {}

/* Các đoạn code CSS cho máy tính bảng ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 768px và nhỏ hơn 992px */
@media screen and (max-width: 992px) {
    .my-account__container {
        flex-direction: column;
    }
}

/* Các đoạn code CSS cho điện thoại ở đây */
/* Độ rộng màn hình nhỏ hơn hoặc bằng 767px */
@media screen and (max-width: 768px) {
    .my-account__illustration img {
        width: 100%;
    }
}