.best-seller-container .splide__arrows {
    top: 50%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* Các đoạn code CSS cho máy tính màn hình nhỏ ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 992px nhỏ hơn 1200 */
@media screen and (max-width: 1200px) {}

/* Các đoạn code CSS cho máy tính bảng ở đây */
/* Độ rộng màn hình lớn hơn hoặc bằng 768px và nhỏ hơn 992px */
@media screen and (max-width: 992px) {}

/* Các đoạn code CSS cho điện thoại ở đây */
/* Độ rộng màn hình nhỏ hơn hoặc bằng 767px */
@media screen and (max-width: 768px) {
    .product-item__btn span:nth-child(2) {
        display: none;
    }
}